* {
	box-sizing: border-box;
	font-kerning: normal
}

html {
	font-size: 18px;
	line-height: 1.5;
	max-width: 68rem;
	margin: 0 auto;
	padding: 1rem;
	-webkit-font-smoothing: antialiased
}

@media(min-width:600px) {
	html {
		padding: 2rem
	}
}

@media(min-width:1000px) {
	html {
		font-size: 19px
	}
}

@media(min-width:1200px) {
	html {
		font-size: 20px
	}
}

main {
	min-height: calc(100vh - 20.5rem)
}

.contain {
	margin: 5rem 0
}

.contain .contain {
	margin: 0
}



.contain.sticky>div:first-child h1,
.contain.sticky>div:first-child h2,
.contain.sticky>div:first-child h3 {
	position: sticky;
	top: 0
}

.contain.sticky>header:first-child div {
	position: sticky;
	top: 1rem
}

@media(min-width:45rem) {
	.contain {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-gap: 2rem;
		align-items: flex-start
	}
	.contain h2 {
		margin-top: 0
	}
	.contain p:nth-child(1),
	.contain ul:nth-child(1),
	.contain ol:nth-child(1),
	.contain div figure:nth-child(1) {
		margin-top: 0
	}
	.contain.baseline {
		align-items: baseline
	}
	
	.contain.sticky>div:first-child,
	.contain.sticky>header:first-child {
		height: 100%
	}
}

h1,
h2,
h3 {
	font-size: 1rem;
	margin: 0;
	hyphens: none;
	font-size: 93%
}

h2 {
	margin-top: 2rem;
	margin-bottom: 0
}

h2+p {
	margin-top: .5rem
}

p.intro {
	margin-bottom: 3rem;
	max-width: 28rem
}

h1.display {
	margin-top: 6rem;
	font-size: 1.25rem;
	letter-spacing: -.01em
}

h1+p.intro {
	margin-top: .25rem
}

time {
	white-space: nowrap;
	display: block
}


a,
a:visited {
	color: black;
	text-decoration: none;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 2.25rem;
	display: inline-block;
	font-size: 93%
}

nav ul li {
	display: inline-block;
	margin-right: 1rem
}

nav a {
	background: 0 0
}

nav>a {
	display: block;
	float: left;
	margin-right: 2rem
}

footer {
	padding: 2rem 0 0;
	margin-top: 1rem;
}

article.recent {
	border-top: 1px solid black
}

.archiveblock {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	padding: 2rem 0;
}


@media print {
	body {
		color: #000;
		background-color: #fff;
		font-size: 13px;
		max-width: 40em;
		margin-left: auto;
		margin-right: auto
	}
	a {
		color: #000
	}
	nav ul li {
		display: none
	}
	article.custom p,
	article.custom blockquote {
		color: #000!important
	}
}