.category {
  top: 0;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  height: 50px;
  background-color: red;
  display: block;
}

.title {
  top: 0;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  height: 50px;
  background-color: green;
  display: block;
  width: 300px;
}

.footer {
  bottom: 100px;
  z-index: -1;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  height: 50px;
  background-color: blue;
  display: block;
}

article {
  background-image: linear-gradient(
    to bottom,
    transparent 50px,
    #F5A623 50px,
    #F5A623 calc(100% - 50px),
    transparent 0
  );
  margin: auto auto 50px auto;
  display: block;
  width: 500px;
}
